* {
    box-sizing: border-box;
}


h2 {
    position: relative;
    z-index: 11;
}

.nav-bar {
    position: fixed;
    top: 5px;
    width: 100%;
    z-index: -1;
}

#kill-bill {
    position: relative;
    bottom: 35px;
    z-index: 10;
    color: blue;
}

@media (min-width: 426px){
    body{
        background-color: brown;
    }
}



