

.container-fluid {
    
}

[id^="p"] {
    padding: 15px;
    text-align: center;
}

.hd {
    border: 2px solid green;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.rojo {
    display: flex;
    justify-content: center;
}

#p1 {
    background-color: red;
    border-radius: 10px;
}

#p2 {
    background-color: yellow;
    border-radius: 10px;
}

#p3 {
    background-color: green;
    border-radius: 10px;
}

#p4 {
    background-color: blue;
    border-radius: 10px;
}

#p5 {
    background-color: peru;
    border-radius: 10px;
}

#p6 {
    background-color: aqua;
    border-radius: 10px;
}